.wrap .container .top {
  width: 100%;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: fixed;
  z-index: 9999;
}

.wrap .container .top .logo {
  width: 129px;
  height: 51px;
  background-image: url("../img/menuImg/logo.png");
  margin-right: 20px;
  margin-top: 16px;
}

.wrap .container .top .mainMenu {
  width: 1377px;
  height: 100%;
  line-height: 40px;
  position: relative;
}

.wrap .container .top .mainMenu > ul {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  line-height: 40px;
  overflow: hidden;
}

.wrap .container .top .mainMenu > ul > li {
  position: relative;
  width: 10%;
}

.wrap .container .top .mainMenu > ul > li > a {
  display: block;
  position: relative;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  color: grey;
}

.wrap .container .top .mainmenuBottom li:nth-of-type(6) a {
  width: 36px;
  height: 36px;
  background-image: url("../img/menuImg/search.png");
}

.wrap .container .top .mainmenuBottom li:nth-of-type(7) a {
  width: 36px;
  height: 36px;
  background-image: url("../img/menuImg/store.png");
}

.wrap .container .top .mainmenuBottom li a {
  font-weight: bold;
}

.subMenu {
  position: relative;
  width: 100%;
}

.subMenu > li {
  height: 0;
}

.subMenu > li > a {
  display: block;
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
  color: grey;
  line-height: 40px;
}

.wrap .container .wrap_bg_top {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
}

.wrap .container .wrap_bg_top .wrap_bg_up {
  width: 100%;
  height: 100%;
}

.wrap .container .wrap_bg_top .wrap_bg_up .wrap_bg {
  width: 300%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrap .container .bottom_button {
  width: 100%;
  height: 50px;
  position: absolute;
  z-index: 9999;
  bottom: 170px;
}

.wrap .container .bottom_button .sect {
  width: 20px;
  height: 20px;
  position: relative;
  background-color: black;
  float: left;
  margin-right: 10px;
  left: calc(50% - 5px);
  border-radius: 10px;
  top: calc(50% - 5px);
  opacity: .4;
}

.wrap .container .button_up {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 40%;
}

.wrap .container .button_up > .btn {
  cursor: pointer;
}

.wrap .container .button_up > .btn:nth-of-type(1) {
  width: 100px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
}

.wrap .container .button_up > .btn:nth-of-type(1)::before {
  content: '';
  width: 2px;
  height: 50px;
  background: black;
  position: absolute;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  margin-top: 36px;
}

.wrap .container .button_up > .btn:nth-of-type(1)::after {
  content: '';
  width: 2px;
  height: 50px;
  background: black;
  position: absolute;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.wrap .container .button_up > .btn:hover {
  color: white;
  opacity: .4;
  -webkit-transition-duration: 2s;
  transition-duration: 2s;
}

.wrap .container .button_up > .btn:nth-of-type(2) {
  width: 100px;
  height: 100px;
  float: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.wrap .container .button_up > .btn:nth-of-type(2)::before {
  content: '';
  width: 2px;
  height: 50px;
  background: black;
  position: absolute;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  margin-top: 36px;
}

.wrap .container .button_up > .btn:nth-of-type(2)::after {
  content: '';
  width: 2px;
  height: 50px;
  background: black;
  position: absolute;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.sec1News {
  width: 1377px;
  margin: 0 auto;
  height: 567px;
  margin-top: 102px;
  position: relative;
  width: 1377px;
  margin: 0 auto;
  left: -100%;
}

.sec1News .left {
  width: 347px;
  height: 567px;
  background-image: url("../img/sec1Img/fast-delivery-vertical-banner-with-copy-space_81522-4515.jpg");
  background-color: aqua;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  float: left;
}

.sec1News .center {
  width: 640px;
  height: 547px;
  padding: 10px 20px;
  float: left;
}

.sec1News .centerTop, .sec1News .centerBottom {
  margin-top: 80px;
  padding-bottom: 20px;
}

.sec1News .centerTop h2, .sec1News .centerBottom h2 {
  font-size: 18px;
  font-weight: 500;
}

.sec1News .centerTop span, .sec1News .centerBottom span {
  float: right;
}

.sec1News .centerTop p, .sec1News .centerBottom p {
  line-height: 20px;
}

.sec1News .centerTop p:before, .sec1News .centerBottom p:before {
  content: '';
  width: 100%;
  height: 1px;
  position: relative;
  display: block;
  top: 30px;
  background-color: #f1f1f1;
}

.sec1News .right {
  width: 347px;
  height: 567px;
  background-image: url("../img/sec1Img/online-store-vertical-banner-with-copy-space_81522-4107.jpg");
  background-color: lime;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  float: right;
}

.sec2Best {
  width: 1377px;
  margin: 0 auto;
  height: 396px;
  margin-top: 100px;
  position: relative;
  left: -100%;
}

.sec2Best > h3 {
  text-align: center;
  font-size: 40px;
  margin-bottom: 100px;
}

.sec2Best .img {
  width: calc(25% - 30px);
  height: calc(100% - 30px);
  float: left;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.sec2Best .img:nth-of-type(1) {
  background-image: url("../img/sec2Img/sec2img1.png");
}

.sec2Best .img:nth-of-type(2) {
  background-image: url("../img/sec2Img/sec2img2.png");
}

.sec2Best .img:nth-of-type(3) {
  background-image: url("../img/sec2Img/sec2Img3.png");
}

.sec2Best .img:nth-of-type(4) {
  background-image: url("../img/sec2Img/sec2Img4.png");
}

.sec2Best .img > p, .sec2Best .img > h6 {
  position: relative;
  top: 396px;
  text-align: center;
}

.sec3Movie {
  width: 1377px;
  margin: 0 auto;
  height: 800px;
  margin-top: 300px;
  background-color: #f2f2f2;
  position: relative;
  z-index: 500;
  top: 500px;
}

.sec3Movie > h3 {
  text-align: center;
  font-size: 40px;
  padding-top: 60px;
  margin-bottom: 60px;
}

.sec3Movie > .Movie {
  width: 1377px;
  height: 550px;
  background-color: white;
  margin: 0 auto;
}

.sec3Movie iframe {
  position: relative;
  left: 40px;
  top: 40px;
  float: left;
}

.sec3Movie .vdlt, .sec3Movie .vdlb {
  text-transform: uppercase;
  position: relative;
  top: 40px;
  left: 70px;
  font-size: 30px;
}

.sec3Movie .vdlb {
  font-size: 14px;
  line-height: 26px;
}

.sec4Insta {
  width: 1377px;
  margin: 0 auto;
  height: 500px;
  position: relative;
  top: 500px;
}

.sec4Insta > .sec4Img {
  width: 229px;
  height: 229px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  float: left;
}

.sec4Insta > .sec4Img:nth-of-type(1) {
  background-image: url("../img/sec3Img/sec3Img1.png");
}

.sec4Insta > .sec4Img:nth-of-type(2) {
  background-image: url("../img/sec3Img/sec3Img2.png");
}

.sec4Insta > .sec4Img:nth-of-type(3) {
  background-image: url("../img/sec3Img/sec3Img3.png");
}

.sec4Insta > .sec4Img:nth-of-type(4) {
  background-image: url("../img/sec3Img/sec3Img4.png");
}

.sec4Insta > .sec4Img:nth-of-type(5) {
  background-image: url("../img/sec3Img/sec3Img5.png");
}

.sec4Insta > .sec4Img:nth-of-type(6) {
  background-image: url("../img/sec3Img/sec3Img6.png");
}

.sec4Insta > .sec4Img:nth-of-type(7) {
  background-image: url("../img/sec3Img/sec3Img7.png");
}

.sec4Insta > .sec4Img:nth-of-type(8) {
  background-image: url("../img/sec3Img/sec3Img8.png");
}

.sec4Insta > .sec4Img:nth-of-type(9) {
  background-image: url("../img/sec3Img/sec3Img9.png");
}

.sec4Insta > .sec4Img:nth-of-type(10) {
  background-image: url("../img/sec3Img/sec3Img10.png");
}

.sec4Insta > .sec4Img:nth-of-type(11) {
  background-image: url("../img/sec3Img/sec3Img11.png");
}

.sec4Insta > .sec4Img:nth-of-type(12) {
  background-image: url("../img/sec3Img/sec3Img12.png");
}

.sec4Insta > h3 {
  text-align: center;
  font-size: 40px;
  padding-top: 60px;
  margin-bottom: 60px;
  font-weight: 100;
  text-transform: capitalize;
  letter-spacing: -4px;
  word-spacing: 10px;
}

.sec4Insta > h3 > span {
  text-transform: uppercase;
  font-weight: bold;
}

footer {
  width: 100%;
  height: 400px;
  position: relative;
  margin: 0 auto;
  top: 200px;
  font-size: 12px;
  background-color: #f1f1f1;
}

footer b {
  margin-right: 20px;
}

footer .footerAll {
  width: 1377px;
  height: 100%;
  margin: 0 auto;
}

footer .footerAll .topAll {
  width: 1377px;
  position: absolute;
}

footer .footerAll .topAll .movTop {
  width: 50px;
  height: 50px;
  background-color: gray;
  text-align: center;
  line-height: 50px;
  font-size: 14px;
  color: white;
  font-weight: bold;
  float: right;
  cursor: pointer;
}

footer .footerAll .foolef {
  float: left;
  font-weight: 10;
  margin-left: 200px;
}

footer .footerAll .foolef > b:after {
  content: '';
  display: inline-block;
  width: 1px;
  height: 16px;
  position: relative;
  left: 10px;
  top: 2px;
  background-color: #e3e3e3;
}

footer .footerAll .foolef address {
  position: relative;
  top: 20px;
  line-height: 25px;
  font-style: normal;
}

footer .footerAll .foolef .adv {
  width: 750px;
  height: 28px;
  position: relative;
  top: 60px;
}

footer .footerAll .foolef .adv > .ii {
  width: 89px;
  height: 28px;
  float: left;
  margin-right: 12px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

footer .footerAll .foolef .adv > .ii:last-of-type {
  margin-right: 0;
}

footer .footerAll .foolef .adv > .ii:last-of-type p {
  line-height: 0;
}

footer .footerAll .foolef .adv > .ii:nth-of-type(1) {
  background-image: url("../img/footerImg/adv1.png");
}

footer .footerAll .foolef .adv > .ii:nth-of-type(2) {
  background-image: url("../img/footerImg/adv2.png");
}

footer .footerAll .foolef .adv > .ii:nth-of-type(3) {
  background-image: url("../img/footerImg/adv3.png");
}

footer .footerAll .foolef .adv > .ii:nth-of-type(4) {
  background-image: url("../img/footerImg/adv4.png");
}

footer .footerAll .foolef .adv > .ii:nth-of-type(5) {
  width: 184px;
  font-size: 12px;
}

footer .footerAll .foolef .adv > .ii:nth-of-type(6) {
  width: 130px;
  line-height: 28px;
  text-align: center;
  background-color: darkgray;
}

footer .footerAll .foolef .adv .copy {
  position: relative;
  top: 100px;
}

footer .footerAll .fooRig {
  float: right;
  margin-right: 200px;
}

footer .footerAll .fooRig em {
  font-size: 18px;
  font-style: normal;
}

footer .footerAll .fooRig dl dt {
  float: left;
  width: 60px;
}

footer .footerAll .fooRig dl dt, footer .footerAll .fooRig dl dd {
  line-height: 30px;
}

.wrap {
  width: 100%;
  height: 100%;
}

.wrap .container {
  width: 1377px;
  height: 100%;
  display: none;
}

/* addClass removeClass */
.on {
  background-color: white;
}

.once {
  -webkit-transition: 1s;
  transition: 1s;
  opacity: 1 !important;
}

.secleft {
  left: 0;
  -webkit-transition: 1s;
  transition: 1s;
}

.sectop {
  top: 0;
  -webkit-transition: 1s;
  transition: 1s;
}

.sca {
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
  -webkit-transition: 1s;
  transition: 1s;
}
